@import url(//fonts.googleapis.com/css?family=Open+Sans);
* {
  overflow: hidden;
}

#quotebox {
  height: 160em;
}

#quote-box {
  border-radius: 1em;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 35em;
  padding: 4em 2em;
  display: block;
  margin: auto;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#text {
  margin: 0.01em;
  text-align: center;
  font-size: 2em;
  font-family: "Open Sans", sans serif;
}

#author {
  text-align: right;
  margin-right: 1.9em;
  font-family: "Open Sans", sans serif;
}

.btn {
  display: flex;
  height: 2.5em;
  width: 2.5em;
}

.btn:hover {
  opacity: 0.9;
}

#tweet-quote,
#tumblr-quote {
  float: left;
  color: white;
  padding: 0em;
  text-align: center;
  font-size: 1.2em;
  margin-right: 0.25em;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans serif;
  border-radius: 10em;
  transition-duration: 0.4s;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#tweet-quote:active {
  position: relative;
  top: 0.5em;
}

#tumblr-quote:active {
  position: relative;
  top: 0.5em;
}

#new-quote {
  float: right;
  color: white;
  padding: 0em;
  font-size: 1.32em;
  height: 2.5em;
  width: 8em;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans serif;
  border-radius: 10em;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#new-quote:active {
  position: relative;
  top: 0.5em;
}

@media all and (max-width: 1000px) {
  #text {
    font-size: 1.4em;
  }

  #quote-box {
    width: webkit-fit-content;
    height: 19.2em;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #new-quote, #tweet-quote,
#tumblr-quote {
    font-size: 1.2em;
  }
}
@media all and (max-width: 800px) {
  #text {
    font-size: 1em;
  }

  #quote-box {
    width: 26em;
    height: 15em;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #new-quote, #tweet-quote,
#tumblr-quote {
    font-size: 1em;
  }
}
@media all and (max-width: 600px) {
  #text {
    font-size: 0.8em;
  }

  #quote-box {
    width: 22em;
    display: block;
    height: 14em;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #new-quote, #tweet-quote,
#tumblr-quote {
    font-size: 0.8em;
  }
}